.card {
  position: relative;
  width: 30%;
  height: 400px;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #747474;
}

.card-front {
  background-color: #f6bbaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.card-back {
  background-color: #ffc9bf;
  transform: rotateY(180deg);
  font-size: 30px;
  border-radius: 25px;
}

.card.flipped {
  transform: rotateY(180deg);
  border-radius: 25px;
}

.card.notFlipped {
  border-radius: 25px;
}

.card-text {
  font-size: 27px;
  font-weight: 5px;
  height: '100vh';
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5%;
}

.grid {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 40px;
  width: 90%;
  justify-content: space-between;
  border-radius: 25px;
}