.footer {
    background-color: #9bd0c3;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-size: 30px;
    bottom: 0;
    width: 100%;
    position: relative;
    font-family: Didot, serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 300px;
    transform: translateY(50%);
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 30px;

  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;

  }
  
  .footer a:hover {
    text-decoration: unset;
    font-size: 30px;

  }