.mission {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .mission::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #9bd0c3;
    transition: width 0.5s ease-out;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .mission.expand::before {
    width: calc(100% + 50px);
  }
  
  .mission-text {
    z-index: 1;
    text-align: center;
    color: white;
    font-Family: 'Didot, serif';
  }
  
  .mission-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .mission-text p {
    font-size: 20px;
  }



/* .mission {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(120%);
    width: 0;
    height: 50vh;
    overflow: hidden;
    transition: width 0.5s ease-out;
  }
  
  .mission.expanded {
    width: 100%;
  }
  
  .mission-content {
    background-color: #9bd0c3;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .mission-content h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .mission-content p {
    color: #fff;
    font-size: 24px;
  } */
  