
.ul {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #f9f9f9;
    width: 100%;
    position: fixed;
}

li {
    float: left;
}

.nav img {
    float: right;
    margin-top: 0.5%;
    margin-right: 2%;
}

li a {
    font-size: 20px;
    display: block;
    color: #000000;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

li a:hover {
    color: #406c6c;
}

.ul li .active {
    background-color: #c9e2e2;
}

li .active a{
    color: #406c6c;
}